.logo-container {
    z-index: 0;
    width: 400px;
    height: 60px;
    position: absolute;
    top:-55%;
    right:22%;
    bottom: 0;
    opacity: 1;
    left:auto;
    margin:auto;

    svg{
        width:100%;
        height:auto;
        bottom:0;
        transform: rotateZ( -15deg ) !important;
    }
    .hidden-logo{
        opacity: 0;
    }
    .solid-logo{
        position: absolute;
        top:-50%;
        right:auto;
        bottom:auto;
        left:10px;
        margin:auto;
        width:100%;
        opacity: 0;
        transform: rotateZ(-15deg);
        z-index: 1;
        animation: fadeIn 10s ease 3s;
        animation-fill-mode: forwards;
    }
    .svg-container {
        stroke: #A67EB2;
        stroke-width: 10;
    }
    
    #drawable {
        opacity: 1 !important;
        stroke-dasharray: 117770;
        stroke-dashoffset: 117770;
        animation: draw 5s ease;
        animation-fill-mode: forwards;
    }
    
    @keyframes draw {
        to {stroke-dasharray: 0; stroke-dashoffset: 0;}
    }
}

